<div class="modal-header">
  <h5 class="modal-title">Something went wrong :(</h5>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" tabindex="0">
  Something went wrong with the import process. Please try again and if the problem persists. Contact us.
</div>
<div class="modal-footer">
  <button (click)="activeModal.close('Accept click')" class="btn btn-danger" ngbAutofocus rippleEffect type="button">Accept</button>
</div>
