@import '~@core/scss/base/bootstrap-extended'; // Bootstrap includes

// card active border
.card {
  &.popular {
    border: 1px solid $primary;
  }
}

// list group circle
.list-group-circle {
  font-weight: $font-weight-bold;
  color: $headings-color;
}

// plan price value
.annual-plan {
  margin-bottom: 1.7rem;

  .plan-price {
    sup {
      top: -1.5rem;
      left: 0.2rem;
    }

    span {
      font-size: 3.5rem;
      line-height: 0.8;
    }

    sub {
      bottom: 0;
      right: 0.14rem;
    }
  }

  // annual pricing value
  .annual-pricing {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.card {
  border: none;
  margin-bottom: 2rem;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1) !important;
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
}
