<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="stl-google-feed-product-heading"
        data-cy="GoogleFeedProductCreateUpdateHeading"
        stlTranslate="stlApp.googleFeedProduct.home.createOrEditLabel"
      >
        Create or edit a Google Feed Product
      </h2>

      <div>
        <stl-alert-error></stl-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" stlTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.sku" for="field_sku">Sku</label>
          <input type="text" class="form-control" name="sku" id="field_sku" data-cy="sku" formControlName="sku" />
          <div *ngIf="editForm.get('sku')!.invalid && (editForm.get('sku')!.dirty || editForm.get('sku')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('sku')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.link" for="field_link">Link</label>
          <input type="text" class="form-control" name="link" id="field_link" data-cy="link" formControlName="link" />
          <div *ngIf="editForm.get('link')!.invalid && (editForm.get('link')!.dirty || editForm.get('link')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('link')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.imageLink" for="field_imageLink">Image Link</label>
          <input type="text" class="form-control" name="imageLink" id="field_imageLink" data-cy="imageLink" formControlName="imageLink" />
          <div *ngIf="editForm.get('imageLink')!.invalid && (editForm.get('imageLink')!.dirty || editForm.get('imageLink')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('imageLink')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.aditionalImageLink" for="field_aditionalImageLink"
            >Aditional Image Link</label
          >
          <input
            type="text"
            class="form-control"
            name="aditionalImageLink"
            id="field_aditionalImageLink"
            data-cy="aditionalImageLink"
            formControlName="aditionalImageLink"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.mobileLink" for="field_mobileLink">Mobile Link</label>
          <input
            type="text"
            class="form-control"
            name="mobileLink"
            id="field_mobileLink"
            data-cy="mobileLink"
            formControlName="mobileLink"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.availability" for="field_availability"
            >Availability</label
          >
          <select class="form-control" name="availability" formControlName="availability" id="field_availability" data-cy="availability">
            <option [ngValue]="null">{{ 'stlApp.GoogleFeedProductAvailability.null' | translate }}</option>
            <option value="IN_STOCK">{{ 'stlApp.GoogleFeedProductAvailability.IN_STOCK' | translate }}</option>
            <option value="OUT_OF_STOCK">{{ 'stlApp.GoogleFeedProductAvailability.OUT_OF_STOCK' | translate }}</option>
            <option value="PREORDER">{{ 'stlApp.GoogleFeedProductAvailability.PREORDER' | translate }}</option>
            <option value="BACKORDER">{{ 'stlApp.GoogleFeedProductAvailability.BACKORDER' | translate }}</option>
          </select>
          <div
            *ngIf="editForm.get('availability')!.invalid && (editForm.get('availability')!.dirty || editForm.get('availability')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('availability')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.availabilityDate" for="field_availabilityDate"
            >Availability Date</label
          >
          <div class="d-flex">
            <input
              id="field_availabilityDate"
              data-cy="availabilityDate"
              type="datetime-local"
              class="form-control"
              name="availabilityDate"
              formControlName="availabilityDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.price" for="field_price">Price</label>
          <input type="text" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.salePrice" for="field_salePrice">Sale Price</label>
          <input type="text" class="form-control" name="salePrice" id="field_salePrice" data-cy="salePrice" formControlName="salePrice" />
          <div *ngIf="editForm.get('salePrice')!.invalid && (editForm.get('salePrice')!.dirty || editForm.get('salePrice')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('salePrice')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.brand" for="field_brand">Brand</label>
          <input type="text" class="form-control" name="brand" id="field_brand" data-cy="brand" formControlName="brand" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.condition" for="field_condition">Condition</label>
          <select class="form-control" name="condition" formControlName="condition" id="field_condition" data-cy="condition">
            <option [ngValue]="null">{{ 'stlApp.GoogleFeedProductCondition.null' | translate }}</option>
            <option value="NEW">{{ 'stlApp.GoogleFeedProductCondition.NEW' | translate }}</option>
            <option value="REFURBISHED">{{ 'stlApp.GoogleFeedProductCondition.REFURBISHED' | translate }}</option>
            <option value="USED">{{ 'stlApp.GoogleFeedProductCondition.USED' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.adult" for="field_adult">Adult</label>
          <input type="checkbox" class="form-check" name="adult" id="field_adult" data-cy="adult" formControlName="adult" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.ageGroup" for="field_ageGroup">Age Group</label>
          <select class="form-control" name="ageGroup" formControlName="ageGroup" id="field_ageGroup" data-cy="ageGroup">
            <option [ngValue]="null">{{ 'stlApp.GoogleFeedAgeGroup.null' | translate }}</option>
            <option value="NEWBORN">{{ 'stlApp.GoogleFeedAgeGroup.NEWBORN' | translate }}</option>
            <option value="INFANT">{{ 'stlApp.GoogleFeedAgeGroup.INFANT' | translate }}</option>
            <option value="TODDLER">{{ 'stlApp.GoogleFeedAgeGroup.TODDLER' | translate }}</option>
            <option value="KIDS">{{ 'stlApp.GoogleFeedAgeGroup.KIDS' | translate }}</option>
            <option value="ADULT">{{ 'stlApp.GoogleFeedAgeGroup.ADULT' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.googleFeedProduct.company" for="field_company">Company</label>
          <select class="form-control" id="field_company" data-cy="company" name="company" formControlName="company">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="companyOption.id === editForm.get('company')!.value?.id ? editForm.get('company')!.value : companyOption"
              *ngFor="let companyOption of companiesSharedCollection; trackBy: trackCompanyById"
            >
              {{ companyOption.cif }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span stlTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span stlTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
