<!-- Footer -->
<p class="clearfix mb-0">
  <span class="float-md-left d-block d-md-inline-block mt-25">
    <span stlTranslate="footer.handcrafted">Hand-crafted & made with</span><span [class]="'pink'" [data-feather]="'heart'"></span>
    <span stlTranslate="footer.by">by</span>
    <a class="ml-25" href="https://weareklai.com" target="_blank">Klai</a>
  </span>
  <span class="float-md-right d-none d-md-block"> {{ version }} </span>
</p>
<!--/ Footer -->

<!-- Move to top Button-->
<stl-scroll-top *ngIf="coreConfig?.layout?.scrollTop"></stl-scroll-top>
