<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="product">
      <h2 data-cy="productDetailsHeading"><span stlTranslate="shopTheLookApp.product.detail.title">Product</span></h2>

      <hr />

      <stl-alert-error></stl-alert-error>

      <stl-alert></stl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span stlTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ product.id }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.sku">Sku</span></dt>
        <dd>
          <span>{{ product.sku }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.name">Name</span></dt>
        <dd>
          <span>{{ product.name }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.description">Description</span></dt>
        <dd>
          <span>{{ product.description }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.link">Link</span></dt>
        <dd>
          <span>{{ product.link }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.imageLink">Image Link</span></dt>
        <dd>
          <span>{{ product.imageLink }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.additionalImageLink">Additional Image Link</span></dt>
        <dd>
          <span>{{ product.additionalImageLink }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.availability">Availability</span></dt>
        <dd>
          <span stlTranslate="{{ 'shopTheLookApp.ProductAvailability.' + product.availability }}">{{ product.availability }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.price">Price</span></dt>
        <dd>
          <span>{{ product.price }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.category">Category</span></dt>
        <dd>
          <span>{{ product.category }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.company">Company</span></dt>
        <dd>
          <div *ngIf="product.company">
            <a [routerLink]="['/company', product.company?.id, 'view']">{{ product.company?.nif }}</a>
          </div>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.product.coordinate">Coordinate</span></dt>
        <dd>
          <div *ngIf="product.coordinate">
            <a [routerLink]="['/coordinate', product.coordinate?.id, 'view']">{{ product.coordinate?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span stlTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span stlTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
