<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="stl-space-template-heading"
        data-cy="SpaceTemplateCreateUpdateHeading"
        stlTranslate="stlApp.spaceTemplate.home.createOrEditLabel"
      >
        Create or edit a Space Template
      </h2>

      <div>
        <stl-alert-error></stl-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" stlTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.spaceTemplate.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.spaceTemplate.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.spaceTemplate.maxProducts" for="field_maxProducts">Max Products</label>
          <input
            type="number"
            class="form-control"
            name="maxProducts"
            id="field_maxProducts"
            data-cy="maxProducts"
            formControlName="maxProducts"
          />
          <div *ngIf="editForm.get('maxProducts')!.invalid && (editForm.get('maxProducts')!.dirty || editForm.get('maxProducts')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxProducts')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maxProducts')?.errors?.number"
              stlTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.spaceTemplate.maxPhotos" for="field_maxPhotos">Max Photos</label>
          <input type="number" class="form-control" name="maxPhotos" id="field_maxPhotos" data-cy="maxPhotos" formControlName="maxPhotos" />
          <div *ngIf="editForm.get('maxPhotos')!.invalid && (editForm.get('maxPhotos')!.dirty || editForm.get('maxPhotos')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxPhotos')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maxPhotos')?.errors?.number"
              stlTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.spaceTemplate.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span stlTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span stlTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
