<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <stl-content-header [contentHeader]="contentHeader"></stl-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul class="nav nav-pills flex-column nav-left" role="tablist">
            <li class="nav-item">
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="'active'"
                [routerLink]="'settings'"
                class="nav-link d-flex py-75"
              >
                <i [data-feather]="'user'" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">My account</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="'active'"
                [routerLink]="'password'"
                class="nav-link d-flex py-75"
              >
                <span [data-feather]="'lock'"></span>
                <span class="font-weight-bold pl-1">Change Password</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-9 tab-content">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
