<div class="card earnings-card">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h4 class="card-title mb-1">Most clicked product</h4>
        <h5 class="mb-1">{{ product?.name }}</h5>
      </div>
      <div class="col-6">
        <div id="earnings-donut-chart" #earningChartOptionsRef>
          <!-- Apexchart component-->
          <apx-chart
            [chart]="{
              type: 'donut',
              height: 120,
              width: earningChartOptionsRef.offsetWidth,
              toolbar: {
                show: false
              }
            }"
            [dataLabels]="earningChartOptions.dataLabels"
            [series]="earningChartOptions.series"
            [legend]="earningChartOptions.legend"
            [labels]="earningChartOptions.labels"
            [grid]="earningChartOptions.grid"
            [plotOptions]="earningChartOptions.plotOptions"
          >
          </apx-chart>
          <!-- / Apexchart component-->
        </div>
      </div>
    </div>
  </div>
</div>
