<div class="tab-pane">
  <!-- users edit media object start -->
  <div class="media mb-2">
    <div>
      <img
        [src]="editForm.get('imageUrl')?.value"
        alt="Company logo"
        class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
        height="90"
        width="90"
      />
    </div>
    <div class="media-body mt-50">
      <h4>{{ editForm.get('name')?.value }}</h4>
      <div class="col-12 d-flex mt-1 px-0">
        <label class="btn btn-primary mr-75 mb-0" for="change-picture">
          <span class="d-none d-sm-block">Change</span>
          <input accept="image/png, image/jpeg, image/jpg" class="form-control" hidden id="change-picture" type="file" />
          <span class="d-block d-sm-none">
            <i class="mr-0" data-feather="edit"></i>
          </span>
        </label>
        <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
        <button class="btn btn-outline-secondary d-block d-sm-none">
          <i class="mr-0" data-feather="trash-2"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- users edit media object ends -->
  <!-- users edit account form start -->
  <form (ngSubmit)="save()" [formGroup]="editForm" class="form-validate" novalidate>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="commercialName">Commercial Name</label>
          <input
            class="form-control"
            formControlName="commercialName"
            id="commercialName"
            name="commercialName"
            placeholder="Acme"
            required
            type="text"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" formControlName="name" id="name" name="name" placeholder="Acme Corporation" required type="text" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input class="form-control" formControlName="email" id="email" name="email" placeholder="hello@acme.inc" required type="email" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="nif">NIF/NIE/DNI</label>
          <input class="form-control" formControlName="nif" id="nif" name="nif" placeholder="48201148E" required type="text" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="vat">VAT</label>
          <input class="form-control" formControlName="vat" id="vat" name="vat" placeholder="VAT" required type="text" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="url">URL</label>
          <input class="form-control" formControlName="url" id="url" name="url" placeholder="https://acme.inc" required type="text" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input class="form-control" formControlName="phone" id="phone" name="phone" placeholder="+34692563938" required type="text" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" formControlName="type" id="type" name="type">
            <option>active</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="industry">Industry</label>
          <select class="form-control" formControlName="industry" id="industry" name="industry">
            <option>active</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="companySize">Company size</label>
          <select class="form-control" formControlName="companySize" id="companySize" name="companySize">
            <option>active</option>
          </select>
        </div>
      </div>
      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
        <button class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect type="submit">Save Changes</button>
        <button class="btn btn-outline-secondary" rippleEffect>Reset</button>
      </div>
    </div>
  </form>
  <!-- users edit account form ends -->
</div>
