<div class="modal-header">
  <h5 class="modal-title" id="myModalLabel160">Yay!</h5>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  All the products where imported successfully. You can check them in the <a [routerLink]="'/products'">products</a> section or you can
  <a [routerLink]="'/spaces'">create an space</a> now!
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.close('Accept click')" rippleEffect>Accept</button>
</div>
