<section id="pricing-plan">
  <!-- title text and switch button -->
  <div class="text-center">
    <h1 class="mt-5" stlTranslate="company.subscription.title">Subscription Plans</h1>
    <p class="mb-2 pb-75" stlTranslate="company.subscription.subtitle">
      Choose the best plan to fit your needs. If you need more features please contact us.
    </p>
  </div>
  <!--/ title text and switch button -->

  <div *ngIf="!subscriptions.length" class="text-center">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Error</h4>
      <div class="alert-body">There is been an error loading the subscription plans. Please, try again later.</div>
    </div>
  </div>

  <!-- pricing plan cards -->
  <div class="row pricing-card" *ngIf="subscriptions.length">
    <div class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-10 mx-auto">
      <div class="row">
        <!-- basic plan -->
        <stl-pricing-plan
          *ngFor="let plan of subscriptions"
          [plan]="plan"
          (selectedPlan)="selectedPlan($event)"
          class="col-12 col-md-4"
        ></stl-pricing-plan>
        <!--/ basic plan -->
      </div>
    </div>
  </div>
  <!--/ pricing plan cards -->

  <!-- pricing free trial -->
  <div class="pricing-free-trial">
    <div class="row">
      <div class="col-12 col-lg-10 col-lg-offset-3 mx-auto">
        <div class="pricing-trial-content d-flex justify-content-between">
          <div class="text-center text-md-left mt-3">
            <h3 class="text-primary" stlTranslate="company.subscription.trial.title">
              Still not convinced? Start with a 14-day FREE trial!
            </h3>
            <h5 stlTranslate="company.subscription.trial.subtitle">You will get full access to with all the features for 14 days.</h5>
            <a class="btn btn-primary mt-2 mt-lg-3" href="mailto:trial@shopthelook.com" stlTranslate="company.subscription.trial.start"
              >Start 14-day FREE trial</a
            >
          </div>
          <!-- image -->
          <img src="/content/images/illustration/pricing-Illustration.svg" class="pricing-trial-img img-fluid" alt="svg img" />
        </div>
      </div>
    </div>
  </div>
  <!--/ pricing free trial -->
</section>
