@import '~@core/scss/base/pages/page-pricing';
// trial free card
.pricing-free-trial {
  height: 16.71rem;
  background-color: rgba(186, 191, 199, 0.12);
  margin-right: -$content-padding;
  margin-left: -$content-padding;
  margin-top: 7.5rem;
  margin-bottom: 6.3rem;

  // row default margin zero because it cause the horizontal scroll bar
  .row {
    margin: 0;
  }
  // content container
  .pricing-trial-content {
    padding: 0 1rem;
    // image
    img {
      position: relative;
      top: -3.1rem;
    }
  }
}

// price trial ad card in small screen
@include media-breakpoint-down(sm) {
  .pricing-free-trial {
    height: auto;
    .pricing-trial-content {
      flex-direction: column;
      align-items: center;
      .pricing-trial-img {
        top: 0;
        margin-top: 2rem;
        height: 150px;
      }
    }
  }
}

// free trial div margin change on below screen
@include media-breakpoint-down(xs) {
  .pricing-free-trial {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }
}
