<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subscriptionPlan">
      <h2 data-cy="subscriptionPlanDetailsHeading">
        <span stlTranslate="shopTheLookApp.subscriptionPlan.detail.title">Subscription Plan</span>
      </h2>

      <hr />

      <stl-alert-error></stl-alert-error>

      <stl-alert></stl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span stlTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ subscriptionPlan.id }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.subscriptionPlan.name">Name</span></dt>
        <dd>
          <span>{{ subscriptionPlan.name }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.subscriptionPlan.description">Description</span></dt>
        <dd>
          <span>{{ subscriptionPlan.description }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.subscriptionPlan.category">Category</span></dt>
        <dd>
          <span stlTranslate="{{ 'shopTheLookApp.SubscriptionCategory.' + subscriptionPlan.category }}">{{
            subscriptionPlan.category
          }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.subscriptionPlan.maxProducts">Max Products</span></dt>
        <dd>
          <span>{{ subscriptionPlan.maxProducts }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.subscriptionPlan.maxSpaces">Max Spaces</span></dt>
        <dd>
          <span>{{ subscriptionPlan.maxSpaces }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.subscriptionPlan.maxRequests">Max Requests</span></dt>
        <dd>
          <span>{{ subscriptionPlan.maxRequests }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span stlTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/subscription-plan', subscriptionPlan.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span stlTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
