@import '~@core/scss/base/pages/page-knowledge-base';

.card-img-top {
  height: 300px;
}

#knowledge-base-content .card {
  border: white solid 5px;
}

#knowledge-base-content .card.active {
  border: $primary solid 5px;
}
