<div>
  <h2 id="page-heading" data-cy="CoordinateHeading">
    <span stlTranslate="shopTheLookApp.coordinate.home.title">Coordinates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span stlTranslate="shopTheLookApp.coordinate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coordinate"
        [routerLink]="['/coordinate/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span stlTranslate="shopTheLookApp.coordinate.home.createLabel"> Create a new Coordinate </span>
      </button>
    </div>
  </h2>

  <stl-alert-error></stl-alert-error>

  <stl-alert></stl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="coordinates?.length === 0">
    <span stlTranslate="shopTheLookApp.coordinate.home.notFound">No coordinates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="coordinates && coordinates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span stlTranslate="global.field.id">ID</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.coordinate.x">X</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.coordinate.y">Y</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.coordinate.photo">Photo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coordinate of coordinates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/coordinate', coordinate.id, 'view']">{{ coordinate.id }}</a>
          </td>
          <td>{{ coordinate.x }}</td>
          <td>{{ coordinate.y }}</td>
          <td>
            <div *ngIf="coordinate.photo">
              <a [routerLink]="['/photo', coordinate.photo?.id, 'view']">{{ coordinate.photo?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/coordinate', coordinate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/coordinate', coordinate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(coordinate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
