<div class="card">
  <div class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
    <div>
      <h4 class="card-title">
        Relación de visualización por espacio, clics y productos
        <span
          #popover="ngbPopover"
          (mouseenter)="popover.open()"
          (mouseleave)="popover.close()"
          [animation]="true"
          [popoverTitle]="'¿Qué es la relación de visualización?'"
          [ngbPopover]="
            'Por ejemplo: Espacio 1 tiene 3 productos. Cada uno tiene 8 clics. Entonces el espacio ha obtenido 24 clics en total. Si este espacio se ha mostrado 530 veces, tiene una relación de visualización de (24/530*100) = 4,52%'
          "
          triggers="manual"
        >
          <span class="cursor-pointer" [data-feather]="'info'"></span>
        </span>
      </h4>
    </div>
    <div class="d-flex align-items-center">
      <i class="font-medium-2" data-feather="calendar"></i>
      <ng2-flatpickr [config]="dateRangeOptions"></ng2-flatpickr>
    </div>
  </div>
  <div class="card-body">
    <apx-chart
      #chartElement
      [series]="series"
      [chart]="chart"
      [dataLabels]="dataLabels"
      [plotOptions]="plotOptions"
      [fill]="fill"
      [noData]="noData"
    ></apx-chart>
  </div>
</div>
