<form>
  <div class="row">
    <div class="col-12">
      <h2>Billing address</h2>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label for="address-1">Address</label>
        <input class="form-control" id="address-1" name="address" placeholder="Calle falsa 123" type="text" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label for="city">City</label>
        <input class="form-control" id="city" name="city" placeholder="Springfield" type="text" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label for="zipcode">Postcode</label>
        <input class="form-control" id="zipcode" name="zipcode" placeholder="08629" type="text" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label for="state">Province</label>
        <input class="form-control" id="state" name="state" placeholder="Springfield" type="text" />
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="form-group">
        <label for="country">Country</label>
        <input class="form-control" id="country" name="country" placeholder="United States" type="text" />
      </div>
    </div>
    <div class="col-12 d-flex flex-sm-row flex-column mt-2">
      <button class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect type="submit">Save Changes</button>
      <button class="btn btn-outline-secondary" rippleEffect type="reset">Reset</button>
    </div>
  </div>
</form>
