<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <stl-content-header [contentHeader]="contentHeader"></stl-content-header>
    <section>
      <div class="row match-height" *ngIf="spaces.length">
        <div class="col-md-6 col-lg-4" *ngFor="let space of spaces">
          <div class="card">
            <a [routerLink]="['studio', space.reference, 'edit']">
              <img class="card-img-top" *ngIf="space.photos[0] && space.photos[0].link" [src]="space.photos[0].link" [alt]="space.name" />
              <img
                class="card-img-top"
                *ngIf="!space.photos[0] || !space.photos[0].link"
                src="/content/images/spaces/default.jpeg"
                [alt]="space.name"
              />
            </a>
            <div class="card-body">
              <h6 class="item-name">{{ space.name | slice: 0:50 }}</h6>
              <p class="card-text item-description" *ngIf="space.description">
                {{ space.description | slice: 0:100 }}<ng-container *ngIf="space.description.length > 100">...</ng-container>
              </p>
            </div>
            <div class="item-options text-center">
              <a class="btn btn-light btn-wishlist" [routerLink]="['studio', space.reference, 'edit']">
                <i [data-feather]="'edit'" class="mr-25"></i>
                <span>Edit</span>
              </a>
              <a class="btn btn-danger btn-cart" (click)="removeSpace(space)">
                <i [data-feather]="'trash'" class="mr-25"></i>
                <span class="add-to-cart">Delete</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="!spaces.length">
        <h1 class="mt-5">Nothing here :(</h1>
        <p class="mb-2 pb-75">You can create a new space using our Space Studio! Click on "<b>new space</b>" to let the magic begins!</p>
        <img [src]="'/content/images/spaces/empty.svg'" class="img-fluid" alt="No spaces to display" />
      </div>
    </section>
  </div>
</div>
