<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" routerLink="/">
      <img src="/content/images/logo/logo.svg" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">Shop The Look</h2>
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img src="/content/images/pages/reset-password-v2.svg" img-fluid="img-fluid" alt="Register V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Reset Password 🔒</h2>
        <p class="card-text mb-2">Your new password must be different from previously used passwords</p>

        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="initialized && !key">
          <div class="alert-body">
            <span stlTranslate="reset.finish.messages.keymissing">The password reset key is missing.</span>
          </div>
        </ngb-alert>

        <ngb-alert [type]="'warning'" *ngIf="key && !success">
          <div class="alert-body">
            <p stlTranslate="reset.finish.messages.info">The password reset key is missing.</p>
          </div>
        </ngb-alert>

        <ngb-alert [type]="'danger'" *ngIf="error">
          <div class="alert-body">
            <p stlTranslate="reset.finish.messages.error">The password reset key is missing.</p>
          </div>
        </ngb-alert>

        <ngb-alert [type]="'success'" *ngIf="success">
          <div class="alert-body">
            <span stlTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
            <a class="alert-link" routerLink="/login" stlTranslate="global.messages.info.authenticated.link">sign in</a>.
          </div>
        </ngb-alert>

        <ngb-alert [type]="'danger'" *ngIf="doNotMatch">
          <div class="alert-body">
            <p stlTranslate="global.messages.error.dontmatch">The password and its confirmation do not match!</p>
          </div>
        </ngb-alert>

        <form *ngIf="key && !success" class="auth-reset-password-form mt-2" [formGroup]="passwordForm" (ngSubmit)="finishReset()">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="newPassword">New Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="newPassword"
                id="newPassword"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="reset-password-new"
                tabindex="1"
                autofocus
                [ngClass]="{ 'is-invalid error': submitted && form.newPassword.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer">
                  <i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  >
                  </i>
                </span>
              </div>
            </div>
            <div
              *ngIf="submitted && form.newPassword.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && form.newPassword.errors }"
            >
              <div *ngIf="form.newPassword.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Confirm Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                formControlName="confirmPassword"
                class="form-control form-control-merge"
                placeholder="············"
                aria-describedby="reset-password-confirm"
                tabindex="2"
                [ngClass]="{ 'is-invalid error': submitted && form.confirmPassword.errors }"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer">
                  <i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i>
                </span>
              </div>
            </div>
            <div
              *ngIf="submitted && form.confirmPassword.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && form.confirmPassword.errors }"
            >
              <div *ngIf="form.confirmPassword.errors.required">Password is required</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" tabindex="3" rippleEffect>Set New Password</button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/auth/login"><i data-feather="chevron-left" class="mb-25"></i> Back to login</a>
        </p>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>

<!--
<div>
  <div class='row justify-content-center'>
    <div class='col-md-4'>
      <h1 stlTranslate='reset.finish.title'>Reset password</h1>

      <div class='alert alert-danger' stlTranslate='reset.finish.messages.keymissing' *ngIf='initialized && !key'>
        <strong>The password reset key is missing.</strong>
      </div>

      <div class='alert alert-warning' *ngIf='key && !success'>
        <span stlTranslate='reset.finish.messages.info'>Choose a new password</span>
      </div>

      <div class='alert alert-danger' *ngIf='error'>
        <span stlTranslate='reset.finish.messages.error'
        >Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span
        >
      </div>

      <div class='alert alert-success' *ngIf='success'>
        <span stlTranslate='reset.finish.messages.success'><strong>Your password has been reset.</strong> Please </span>
        <a class='alert-link' routerLink='/login' stlTranslate='global.messages.info.authenticated.link'>sign in</a>.
      </div>

      <div class='alert alert-danger' *ngIf='doNotMatch' stlTranslate='global.messages.error.dontmatch'>
        The password and its confirmation do not match!
      </div>

      <div *ngIf='key && !success'>
        <form name='form' role='form' (ngSubmit)='finishReset()' [formGroup]='passwordForm'>
          <div class='form-group'>
            <label class='form-control-label' for='newPassword' stlTranslate='global.form.newpassword.label'>New
              password</label>
            <input
              type='password'
              class='form-control'
              id='newPassword'
              name='newPassword'
              placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
              formControlName='newPassword'
              data-cy='resetPassword'
              #newPassword
            />

            <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
              <small
                class='form-text text-danger'
                *ngIf="passwordForm.get('newPassword')?.errors?.required"
                stlTranslate='global.messages.validate.newpassword.required'>
                Your password is required.
              </small>

              <small
                class='form-text text-danger'
                *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                stlTranslate='global.messages.validate.newpassword.minlength'>
                Your password is required to be at least 4 characters.
              </small>

              <small
                class='form-text text-danger'
                *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                stlTranslate='global.messages.validate.newpassword.maxlength'>
                Your password cannot be longer than 50 characters.
              </small>
            </div>

            <stl-password-strength-bar
              [passwordToCheck]="passwordForm.get('newPassword')!.value"></stl-password-strength-bar>
          </div>

          <div class='form-group'>
            <label class='form-control-label' for='confirmPassword' stlTranslate='global.form.confirmpassword.label'>New
              password confirmation</label>
            <input
              type='password'
              class='form-control'
              id='confirmPassword'
              name='confirmPassword'
              placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
              formControlName='confirmPassword'
              data-cy='confirmResetPassword'
            />

            <div
              *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
              <small
                class='form-text text-danger'
                *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                stlTranslate='global.messages.validate.confirmpassword.required'>
                Your password confirmation is required.
              </small>

              <small
                class='form-text text-danger'
                *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                stlTranslate='global.messages.validate.confirmpassword.minlength'>
                Your password confirmation is required to be at least 4 characters.
              </small>

              <small
                class='form-text text-danger'
                *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                stlTranslate='global.messages.validate.confirmpassword.maxlength'>
                Your password confirmation cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <button
            type='submit'
            [disabled]='passwordForm.invalid'
            class='btn btn-primary'
            stlTranslate='reset.finish.form.button'
            data-cy='submit'>
            Reset Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
-->
