<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo-->
    <a class="brand-logo" routerLink="/">
      <img src="/content/images/logo/logo.svg" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">Shop The Look</h2>
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img src="/content/images/pages/reset-password-v2.svg" img-fluid="img-fluid" alt="Register V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Reset password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1" stlTranslate="reset.request.welcome">Reset Password 🔒</h2>

        <ngb-alert [type]="'warning'" [dismissible]="false" *ngIf="!success">
          <div class="alert-body">
            <span stlTranslate="reset.request.messages.info">Enter the email address you used to register.</span>
          </div>
        </ngb-alert>

        <ngb-alert [type]="'success'" [dismissible]="false" *ngIf="success">
          <div class="alert-body">
            <span stlTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</span>
          </div>
        </ngb-alert>

        <form *ngIf="!success" class="auth-reset-password-form mt-2" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="email" stlTranslate="global.form.email.label">Email</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                class="form-control form-control-merge"
                aria-describedby="reset-password-new"
                tabindex="1"
                autofocus
                type="email"
                id="email"
                name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}"
                formControlName="email"
                data-cy="emailResetPassword"
                #email
                [ngClass]="{ 'is-invalid error': submitted && resetRequestForm.get('email')!.errors }"
              />
            </div>
            <div
              *ngIf="
                resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.required"
                stlTranslate="global.messages.validate.email.required"
              >
                Your email is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.email"
                stlTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                stlTranslate="global.messages.validate.email.minlength"
              >
                Your email is required to be at least 5 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                stlTranslate="global.messages.validate.email.maxlength"
              >
                Your email cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            stlTranslate="reset.request.form.button"
            class="btn btn-primary btn-block"
            rippleEffect
          >
            Set New Password
          </button>
        </form>
        <p class="text-center mt-2">
          <a routerLink="/auth/login" stlTranslate="reset.request.back"><i class="mb-25" data-feather="chevron-left"></i> Back to login</a>
        </p>
      </div>
    </div>
    <!-- /Reset password-->
  </div>
</div>
