<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <stl-content-header [contentHeader]="contentHeader"></stl-content-header>

    <div class="row">
      <div class="col-6">
        <stl-spaces-view-clicks></stl-spaces-view-clicks>
      </div>
      <div class="col-6">
        <stl-product-clicks></stl-product-clicks>
      </div>
      <div class="col-6">
        <stl-product-hovers></stl-product-hovers>
      </div>
      <div class="col-6">
        <stl-space-view-relation></stl-space-view-relation>
      </div>
    </div>
  </div>
</div>
