<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img alt="brand-logo" height="28" src="/content/images/logo/logo.svg" />
      <h2 class="brand-text text-primary ml-1">Shop The Look</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          [src]="coreConfig.layout.skin === 'dark' ? '/content/images/pages/register-v2-dark.svg' : '/content/images/pages/register-v2.svg'"
          alt="Register V2"
          class="img-fluid"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div [class.dark-bg]="coreConfig.layout.skin == 'dark'" class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Adventure starts here 🚀</h2>
        <p class="card-text mb-2">Make your app management easy and fun!</p>

        <ngb-alert *ngIf="success" [dismissible]="false" [type]="'success'">
          <div class="alert-body" stlTranslate="register.messages.success">
            <strong>Registration saved!</strong> Please check your email for confirmation.
          </div>
        </ngb-alert>

        <ngb-alert *ngIf="error" [dismissible]="false" [type]="'error'">
          <div class="alert-body" stlTranslate="register.messages.error.fail">
            <strong>Registration failed!</strong> Please try again later.
          </div>
        </ngb-alert>

        <ngb-alert *ngIf="errorUserExists" [dismissible]="false" [type]="'error'">
          <div class="alert-body" stlTranslate="register.messages.error.emailexists">
            <strong>Email is already in use!</strong> Please choose another one.
          </div>
        </ngb-alert>

        <ngb-alert *ngIf="errorEmailExists" [dismissible]="false" [type]="'error'">
          <div class="alert-body" stlTranslate="register.messages.error.emailexists">
            <strong>Email is already in use!</strong> Please choose another one.
          </div>
        </ngb-alert>

        <ngb-alert *ngIf="doNotMatch" [dismissible]="false" [type]="'error'">
          <div class="alert-body" stlTranslate="global.messages.error.dontmatch">The password and its confirmation do not match!</div>
        </ngb-alert>

        <form (ngSubmit)="register()" *ngIf="!success" [formGroup]="registerForm" class="auth-register-form mt-2">
          <div class="form-group">
            <label class="form-label" for="login" stlTranslate="global.form.username.label">Username</label>
            <input
              #login
              class="form-control"
              data-cy="username"
              formControlName="login"
              id="login"
              name="login"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              type="text"
            />
            <div
              *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)"
              class="invalid-feedback"
            >
              <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                <div *ngIf="registerForm.get('login')?.errors?.required" stlTranslate="register.messages.validate.login.required">
                  Your username is required.
                </div>

                <div *ngIf="registerForm.get('login')?.errors?.minlength" stlTranslate="register.messages.validate.login.minlength">
                  Your username is required to be at least 1 character.
                </div>

                <div *ngIf="registerForm.get('login')?.errors?.maxlength" stlTranslate="register.messages.validate.login.maxlength">
                  Your username cannot be longer than 50 characters.
                </div>

                <div *ngIf="registerForm.get('login')?.errors?.pattern" stlTranslate="register.messages.validate.login.pattern">
                  Your username can only contain letters and digits.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="email" stlTranslate="global.form.email.label">Email</label>
            <input
              class="form-control"
              data-cy="email"
              formControlName="email"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              type="email"
            />
            <ngb-alert *ngIf="success" [dismissible]="false" [type]="'error'">
              <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                <div *ngIf="registerForm.get('email')?.errors?.required" stlTranslate="global.messages.validate.email.required">
                  Your email is required.
                </div>

                <div *ngIf="registerForm.get('email')?.errors?.invalid" stlTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </div>

                <div *ngIf="registerForm.get('email')?.errors?.minlength" stlTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </div>

                <div *ngIf="registerForm.get('email')?.errors?.maxlength" stlTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 100 characters.
                </div>
              </div>
            </ngb-alert>
          </div>
          <div class="form-group">
            <label class="form-label" for="password" stlTranslate="global.form.newpassword.label">Password</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input
                class="form-control"
                data-cy="firstPassword"
                formControlName="password"
                id="password"
                name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                type="password"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer">
                  <i
                    (click)="togglePasswordTextType()"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    class="feather font-small-4"
                  >
                  </i>
                </span>
              </div>
            </div>
          </div>
          <stl-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></stl-password-strength-bar>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="register-privacy-policy" tabindex="4" type="checkbox" />
              <label class="custom-control-label" for="register-privacy-policy">
                I agree to <a href="javascript:void(0);">privacy policy & terms</a>
              </label>
            </div>
            <button class="btn btn-primary btn-block" rippleEffect tabindex="5">Sign up</button>
          </div>
        </form>
        <p class="text-center mt-2">
          <span>Already have an account?</span>
          <a routerLink="/pages/authentication/login-v2"><span>&nbsp;Sign in instead</span></a>
        </p>
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>

<!--
<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 stlTranslate="register.title" data-cy="registerTitle">Registration</h1>

      <div class="alert alert-success" *ngIf="success" stlTranslate="register.messages.success">
        <strong>Registration saved!</strong> Please check your email for confirmation.
      </div>

      <div class="alert alert-danger" *ngIf="error" stlTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>

      <div class="alert alert-danger" *ngIf="errorUserExists" stlTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists" stlTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" stlTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="form-group">
          <label class="form-control-label" for="login" stlTranslate="global.form.username.label">Username</label>
          <input
            type="text"
            class="form-control"
            id="login"
            name="login"
            placeholder="{{ 'global.form.username.placeholder' | translate }}"
            formControlName="login"
            data-cy="username"
            #login
          />

          <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.required"
              stlTranslate="register.messages.validate.login.required"
            >
              Your username is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.minlength"
              stlTranslate="register.messages.validate.login.minlength"
            >
              Your username is required to be at least 1 character.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.maxlength"
              stlTranslate="register.messages.validate.login.maxlength"
            >
              Your username cannot be longer than 50 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.pattern"
              stlTranslate="register.messages.validate.login.pattern"
            >
              Your username can only contain letters and digits.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email" stlTranslate="global.form.email.label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.required"
              stlTranslate="global.messages.validate.email.required"
            >
              Your email is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.invalid"
              stlTranslate="global.messages.validate.email.invalid"
            >
              Your email is invalid.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.minlength"
              stlTranslate="global.messages.validate.email.minlength"
            >
              Your email is required to be at least 5 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.maxlength"
              stlTranslate="global.messages.validate.email.maxlength"
            >
              Your email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="password" stlTranslate="global.form.newpassword.label">New password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
            formControlName="password"
            data-cy="firstPassword"
          />

          <div
            *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.required"
              stlTranslate="global.messages.validate.newpassword.required"
            >
              Your password is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.minlength"
              stlTranslate="global.messages.validate.newpassword.minlength"
            >
              Your password is required to be at least 4 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.maxlength"
              stlTranslate="global.messages.validate.newpassword.maxlength"
            >
              Your password cannot be longer than 50 characters.
            </small>
          </div>

          <stl-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></stl-password-strength-bar>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword" stlTranslate="global.form.confirmpassword.label"
            >New password confirmation</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
            formControlName="confirmPassword"
            data-cy="secondPassword"
          />

          <div
            *ngIf="
              registerForm.get('confirmPassword')!.invalid &&
              (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.required"
              stlTranslate="global.messages.validate.confirmpassword.required"
            >
              Your confirmation password is required.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
              stlTranslate="global.messages.validate.confirmpassword.minlength"
            >
              Your confirmation password is required to be at least 4 characters.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
              stlTranslate="global.messages.validate.confirmpassword.maxlength"
            >
              Your confirmation password cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="btn btn-primary"
          stlTranslate="register.form.button"
          data-cy="submit"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</div>
-->
