<div class="form-group breadcrumb-right" *ngIf="actions.length > 1">
  <div ngbDropdown>
    <button ngbDropdownToggle id="dropdownSettings" class="btn-icon btn btn-primary btn-round btn-sm" type="button" rippleEffect>
      <span [data-feather]="'grid'"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownSettings">
      <a ngbDropdownItem [routerLink]="['/']">
        <span [data-feather]="'check-square'" [class]="'mr-50'"></span>
        Not yet implemented
      </a>
    </div>
  </div>
</div>
<div class="breadcrumb-right" *ngIf="actions.length == 1 && actions[0] as action">
  <button class="btn btn-primary" type="button" [routerLink]="action.link">
    <i *ngIf="action.icon" class="mr-sm-50" [data-feather]="action.icon"></i>
    <span>{{ action.name }}</span>
  </button>
</div>
