<form (ngSubmit)="confirmDelete(space.reference)" *ngIf="space" name="deleteForm">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="employeeDeleteDialogHeading" stlTranslate="spaces.modal.delete.title">Confirm delete operation</h4>

    <button (click)="dismiss()" aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
  </div>

  <div class="modal-body">
    <stl-alert-error></stl-alert-error>

    <p [translateValues]="{ reference: space.reference }" stlTranslate="spaces.modal.delete.body">
      Are you sure you want to remove the user?
    </p>
  </div>

  <div class="modal-footer">
    <button (click)="dismiss()" class="btn btn-secondary" data-dismiss="modal" type="button">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span stlTranslate="spaces.modal.delete.buttons.cancel">Cancel</span>
    </button>

    <button class="btn btn-danger" data-cy="entityConfirmDeleteButton" id="stl-confirm-delete-employee" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span stlTranslate="spaces.modal.delete.buttons.delete">Delete</span>
    </button>
  </div>
</form>
