<div role="tooltip" [ngStyle]="{ left: coordinate.x + 30 + 'px', top: coordinate.y - 40 + 'px', position: 'absolute' }">
  <div class="tooltip__content-inner">
    <a class="tooltip__content">
      <div class="tooltip__content--wrapper">
        <div class="tooltip__content--left">
          <div class="tooltip__header">
            <div class="tooltip__header__title--small">{{ coordinate.product.name }}</div>
          </div>
        </div>
      </div>
      <div class="tooltip__footer">
        <span class="tooltip__footer-price--small"> {{ coordinate.product.price }}€ </span>
      </div>
    </a>
  </div>
</div>
