<div
  *ngIf="!photo && !loading"
  ng2FileDrop
  [ngClass]="{ 'file-drop-over': hasBaseDropZoneOver }"
  (fileOver)="fileOverBase($event)"
  (onFileDrop)="onFileDropped($event)"
  [uploader]="uploader"
  [class.error]="error"
  [style.height]="height"
  [style.width]="width"
  class="py-5 text-center font-medium-5 text-uppercase file-drop-zone"
></div>

<div class="uploading-image" *ngIf="loading" [style.height]="height" [style.width]="width">
  <div class="loading">
    <div class="effect-1 effects"></div>
    <div class="effect-2 effects"></div>
    <div class="effect-3 effects"></div>
  </div>
</div>

<ng-container *ngIf="photo && !loading">
  <a (click)="deletePhoto(photo.reference)">
    <span class="notify-badge">
      <i [data-feather]="'trash'"></i>
    </span>
  </a>
  <div
    class="loaded-image"
    (click)="addCoordinate($event)"
    [style.backgroundImage]="'url(' + photo.link + ')'"
    [style.height]="height"
    [style.width]="width"
  ></div>
  <ng-container *ngIf="coordinates && coordinates.length > 0">
    <stl-product-coordinate
      *ngFor="let coordinate of coordinates"
      [coordinate]="coordinate"
      (click)="removeCoordinate(coordinate)"
    ></stl-product-coordinate>
  </ng-container>
</ng-container>
