<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a [routerLinkActive]="'active'" [routerLink]="'overview'" class="d-flex align-items-center nav-link">
                <i [data-feather]="'user'" class="mr-sm-50"></i>
                <span class="d-none d-sm-block">Information</span>
              </a>
            </li>
            <li>
              <a [routerLinkActive]="'active'" [routerLink]="'billing'" class="d-flex align-items-center nav-link">
                <i [data-feather]="'user'" class="mr-sm-50"></i>
                <span class="d-none d-sm-block">Billing</span>
              </a>
            </li>
            <li>
              <a [routerLinkActive]="'active'" [routerLink]="'preferences'" class="d-flex align-items-center nav-link">
                <i [data-feather]="'sliders'" class="mr-sm-50"></i>
                <span class="d-none d-sm-block">Preferences</span>
              </a>
            </li>
            <li>
              <a [routerLinkActive]="'active'" [routerLink]="'subscription'" class="d-flex align-items-center nav-link">
                <i [data-feather]="'rss'" class="mr-sm-50"></i>
                <span class="d-none d-sm-block">Subscription</span>
              </a>
            </li>
            <li>
              <a [routerLinkActive]="'active'" [routerLink]="'api-key'" class="d-flex align-items-center nav-link">
                <i [data-feather]="'key'" class="mr-sm-50"></i>
                <span class="d-none d-sm-block">API Key</span>
              </a>
            </li>
          </ul>
          <div class="mt-2">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
