<form *ngIf="company" name="deleteForm" (ngSubmit)="confirmDelete(company.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="companyDeleteDialogHeading" stlTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <stl-alert-error></stl-alert-error>

    <p id="stl-delete-company-heading" stlTranslate="shopTheLookApp.company.delete.question" [translateValues]="{ id: company.id }">
      Are you sure you want to delete this Company?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span stlTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="stl-confirm-delete-company" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span stlTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
