img.card-img-top {
  max-height: 300px;
  min-height: 300px;
}

.card-text {
  min-height: 40px;
  max-height: 40px;
}

.item-name {
  margin-top: 0.75rem;
}

.item-options {
  display: flex;
  flex-wrap: wrap;

  .btn-cart,
  .btn-wishlist {
    flex-grow: 1;
    border-radius: 0;
  }
}

.item-options {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .item-wrapper {
    position: relative;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // buttons style
  .btn-wishlist,
  .btn-cart {
    span {
      vertical-align: text-top;
    }

    i,
    svg {
      margin-right: 0.25rem;
      vertical-align: text-top;
    }
  }
}
