<div *ngIf="space" class="card">
  <a (click)="editClick.emit(space)">
    <ng-container *ngIf="space.photos">
      <div *ngIf="space.photos.length > 1" class="row m-0">
        <div class="col-lg-6 p-0">
          <img [alt]="space.name" [src]="space.photos[0].link" class="card-img-top" />
        </div>
        <div class="col-lg-6 p-0">
          <img [alt]="space.name" [src]="space.photos[1].link" class="card-img-top" />
        </div>
      </div>
      <img *ngIf="space.photos.length === 1" [alt]="space.name" [src]="space.photos[0].link" class="card-img-top" />
    </ng-container>
    <img
      *ngIf="!space.photos[0] || !space.photos[0].link"
      [alt]="space.name"
      class="card-img-top"
      src="/content/images/spaces/default.jpeg"
    />
  </a>
  <div class="card-body">
    <h6 class="item-name">{{ space.name | slice: 0:50 }}</h6>
    <p *ngIf="space.description" class="card-text item-description">
      {{ space.description | slice: 0:100 }}
      <ng-container *ngIf="space.description.length > 100">...</ng-container>
    </p>
  </div>
  <div class="item-options text-center">
    <a (click)="editClick.emit(space)" class="btn btn-light btn-wishlist">
      <i [data-feather]="'edit'" class="mr-25"></i>
      <span stlTranslate="spaces.card.edit">Edit</span>
    </a>
    <a (click)="removeClick.emit(space)" class="btn btn-danger btn-cart">
      <i [data-feather]="'trash'" class="mr-25"></i>
      <span class="add-to-cart" stlTranslate="spaces.card.delete">Delete</span>
    </a>
  </div>
</div>
