<div class="card">
  <div class="card-header">
    <div class="row" *ngIf="space">
      <div class="col-lg-10">
        <h2 class="font-weight-bolder mb-0">Top Space Clicks</h2>
        <p class="card-text">{{ space.name ?? 'N/A' }}</p>
        <p class="card-text">{{ space.createdAt ?? 'N/A' }}</p>
      </div>
      <div class="col-lg-2">
        <div class="avatar p-50 pr-50 bg-light-primary" style="background-color: rgba(115, 103, 240, 0.12) !important">
          <div class="avatar-content">
            <h2 class="mb-0" style="color: #7367f0 !important">{{ space.value | numberThousand }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
