<div class="card earnings-card">
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <h4 class="card-title mb-1">Most viewed space</h4>
        <h5 class="mb-1">
          <a [routerLink]="['spaces', 'studio', space?.reference, 'edit']">{{ space?.name }}</a>
        </h5>
        <p class="card-text text-muted font-small-2">
          <span class="font-weight-bolder">Since: {{ space?.createdAt | date }}</span>
        </p>
      </div>
      <div class="col-6">
        <div id="earnings-donut-chart" #earningChartOptionsRef>
          <!-- Apexchart component-->
          <apx-chart
            [chart]="{
              type: 'donut',
              height: 120,
              width: earningChartOptionsRef.offsetWidth,
              toolbar: {
                show: false
              }
            }"
            [dataLabels]="earningChartOptions.dataLabels"
            [series]="earningChartOptions.series"
            [legend]="earningChartOptions.legend"
            [labels]="earningChartOptions.labels"
            [grid]="earningChartOptions.grid"
            [plotOptions]="earningChartOptions.plotOptions"
          >
          </apx-chart>
          <!-- / Apexchart component-->
        </div>
      </div>
    </div>
  </div>
</div>
