<div class="card">
  <div class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
    <div>
      <h4 class="card-title">Spaces</h4>
      <span class="card-subtitle text-muted">Spaces views and clicks from date</span>
    </div>
    <div class="d-flex align-items-center">
      <i class="font-medium-2" data-feather="calendar"></i>
      <ng2-flatpickr [config]="dateRangeOptions"></ng2-flatpickr>
    </div>
  </div>
  <div class="card-body">
    <apx-chart
      #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </div>
</div>
