<div>
  <h2 id="page-heading" data-cy="SpaceTemplateHeading">
    <span stlTranslate="shopTheLookApp.spaceTemplate.home.title">Space Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span stlTranslate="shopTheLookApp.spaceTemplate.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-space-template"
        [routerLink]="['/space-template/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span stlTranslate="shopTheLookApp.spaceTemplate.home.createLabel"> Create a new Space Template </span>
      </button>
    </div>
  </h2>

  <stl-alert-error></stl-alert-error>

  <stl-alert></stl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="spaceTemplates?.length === 0">
    <span stlTranslate="shopTheLookApp.spaceTemplate.home.notFound">No spaceTemplates found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="spaceTemplates && spaceTemplates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span stlTranslate="global.field.id">ID</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.spaceTemplate.name">Name</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.spaceTemplate.description">Description</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.spaceTemplate.maxProducts">Max Products</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.spaceTemplate.maxPhotos">Max Photos</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.spaceTemplate.active">Active</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spaceTemplate of spaceTemplates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/space-template', spaceTemplate.id, 'view']">{{ spaceTemplate.id }}</a>
          </td>
          <td>{{ spaceTemplate.name }}</td>
          <td>{{ spaceTemplate.description }}</td>
          <td>{{ spaceTemplate.maxProducts }}</td>
          <td>{{ spaceTemplate.maxPhotos }}</td>
          <td>{{ spaceTemplate.active }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/space-template', spaceTemplate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/space-template', spaceTemplate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(spaceTemplate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
