<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row match-height">
      <div class="col-xl-4 col-md-6 col-12">
        <stl-subscription-widget [account]="account"></stl-subscription-widget>
      </div>

      <!-- Statistics Card -->
      <div class="col-xl-8 col-md-6 col-12">
        <stl-general-statistics-widget></stl-general-statistics-widget>
      </div>
      <!--/ Statistics Card -->
    </div>

    <div class="row match-height">
      <div class="col-xl-2 col-md-4 col-sm-6">
        <stl-total-space-views></stl-total-space-views>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6">
        <stl-total-product-clicks></stl-total-product-clicks>
      </div>
      <div class="col-xl-2 col-md-4 col-sm-6">
        <stl-total-space-time></stl-total-space-time>
      </div>
    </div>

    <div class="row match-height">
      <!-- Company Table -->
      <div class="col-lg-12 col-12">
        <stl-spaces-widget></stl-spaces-widget>
      </div>
      <!--/ Company Table -->
    </div>
  </div>
</div>
