<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="googleFeedProduct">
      <h2 data-cy="googleFeedProductDetailsHeading">
        <span stlTranslate="stlApp.googleFeedProduct.detail.title">Google Feed Product</span>
      </h2>

      <hr />

      <stl-alert-error></stl-alert-error>

      <stl-alert></stl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span stlTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ googleFeedProduct.id }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.sku">Sku</span></dt>
        <dd>
          <span>{{ googleFeedProduct.sku }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.name">Name</span></dt>
        <dd>
          <span>{{ googleFeedProduct.name }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.description">Description</span></dt>
        <dd>
          <span>{{ googleFeedProduct.description }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.link">Link</span></dt>
        <dd>
          <span>{{ googleFeedProduct.link }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.imageLink">Image Link</span></dt>
        <dd>
          <span>{{ googleFeedProduct.imageLink }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.additionalImageLink">Additional Image Link</span></dt>
        <dd>
          <span>{{ googleFeedProduct.additionalImageLink }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.mobileLink">Mobile Link</span></dt>
        <dd>
          <span>{{ googleFeedProduct.mobileLink }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.availability">Availability</span></dt>
        <dd>
          <span stlTranslate="{{ 'stlApp.GoogleFeedProductAvailability.' + googleFeedProduct.availability }}">{{
            googleFeedProduct.availability
          }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.availabilityDate">Availability Date</span></dt>
        <dd>
          <span>{{ googleFeedProduct.availabilityDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.price">Price</span></dt>
        <dd>
          <span>{{ googleFeedProduct.price }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.salePrice">Sale Price</span></dt>
        <dd>
          <span>{{ googleFeedProduct.salePrice }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.brand">Brand</span></dt>
        <dd>
          <span>{{ googleFeedProduct.brand }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.condition">Condition</span></dt>
        <dd>
          <span stlTranslate="{{ 'stlApp.GoogleFeedProductCondition.' + googleFeedProduct.condition }}">{{
            googleFeedProduct.condition
          }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.adult">Adult</span></dt>
        <dd>
          <span>{{ googleFeedProduct.adult }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.ageGroup">Age Group</span></dt>
        <dd>
          <span stlTranslate="{{ 'stlApp.GoogleFeedAgeGroup.' + googleFeedProduct.ageGroup }}">{{ googleFeedProduct.ageGroup }}</span>
        </dd>
        <dt><span stlTranslate="stlApp.googleFeedProduct.company">Company</span></dt>
        <dd>
          <div *ngIf="googleFeedProduct.company">
            <a [routerLink]="['/company', googleFeedProduct.company?.id, 'view']">{{ googleFeedProduct.company?.cif }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span stlTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/google-feed-product', googleFeedProduct.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span stlTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
