<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <stl-content-header [contentHeader]="contentHeader"></stl-content-header>

    <div class="row" id="basic-table">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Your products</h4>
          </div>
          <div class="card-body">
            <p class="card-text">You can import new products using the <a routerLink="import">importer</a>.</p>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.sku">Sku</span></th>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.name">Name</span></th>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.description">Description</span></th>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.link">Link</span></th>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.availability">Availability</span></th>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.price">Price</span></th>
                  <th scope="col"><span stlTranslate="shopTheLookApp.product.company">Company</span></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
                  <td>{{ product.sku }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.link }}</td>
                  <td stlTranslate="{{ 'shopTheLookApp.ProductAvailability.' + product.availability }}">{{ product.availability }}</td>
                  <td>{{ product.price }}</td>
                  <td>
                    <div *ngIf="product.company">
                      <a [routerLink]="['/company', product.company?.id, 'view']">{{ product.company?.nif }}</a>
                    </div>
                  </td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button
                        type="submit"
                        [routerLink]="['/product', product.id, 'view']"
                        class="btn btn-info btn-sm"
                        data-cy="entityDetailsButton"
                      >
                        <fa-icon icon="eye"></fa-icon>
                        <span class="d-none d-md-inline" stlTranslate="entity.action.view">View</span>
                      </button>

                      <button
                        type="submit"
                        [routerLink]="['/product', product.id, 'edit']"
                        class="btn btn-primary btn-sm"
                        data-cy="entityEditButton"
                      >
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" stlTranslate="entity.action.edit">Edit</span>
                      </button>

                      <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" stlTranslate="entity.action.delete">Delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
