<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <stl-content-header [contentHeader]="contentHeader"></stl-content-header>
    <div class="card">
      <div class="card-header">
        <div class="col-md-6 col-12 p-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <label class="d-flex align-items-center"
                >Show
                <select
                  (ngModelChange)="sizeChanged.next($event)"
                  [(ngModel)]="itemsPerPage"
                  [disabled]="isLoading"
                  class="form-control mx-25"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
              <button
                #popover="ngbPopover"
                (click)="refreshProducts()"
                (mouseenter)="popover.open()"
                (mouseleave)="popover.close()"
                [animation]="true"
                [class.disabled]="!canImportWithFeed()"
                [disablePopover]="canImportWithFeed()"
                class="btn btn-primary ml-2"
                ngbPopover="You need to specify the feed url for the company before!"
                popoverTitle="Attention!"
                rippleEffect
                triggers="manual"
              >
                Refresh with Google Feed
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-start justify-content-md-end align-items-center offset-lg-2">
          <div class="mt-2 ml-1 ml-md-0 mt-md-0">
            <label class="d-flex align-items-center mb-0 ml-1 ml-md-0">
              <input
                (ngModelChange)="searchTextChanged.next($event)"
                [ngModel]="searchText"
                class="form-control"
                name="searchValue"
                placeholder="Search..."
                type="search"
              />
              <!--(keyup)="filterUpdate($event)"-->
            </label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-1">
          <p class="card-text">You can import new products by CSV or TSV using the <a routerLink="import">importer assistant</a>.</p>
          <p>Loaded products: {{ totalItems }}</p>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"><span stlTranslate="shopTheLookApp.product.sku">Sku</span></th>
                <th scope="col"><span stlTranslate="shopTheLookApp.product.name">Name</span></th>
                <th scope="col"><span stlTranslate="shopTheLookApp.product.link">Link</span></th>
                <th scope="col"><span stlTranslate="shopTheLookApp.product.price">Price</span></th>
                <th *stlHasAnyAuthority="'ROLE_ADMIN'" scope="col">
                  <span stlTranslate="shopTheLookApp.product.company">Company</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; trackBy: trackReference" data-cy="entityTable">
                <td>
                  <a [routerLink]="[product.reference, 'view']">{{ product.sku }}</a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                  <a [href]="product.link" target="_blank">{{ product.link }}</a>
                </td>
                <td>{{ product.price }}</td>
                <td *stlHasAnyAuthority="'ROLE_ADMIN'">
                  <a [routerLink]="['/company', product.companyReference, 'view']">{{ product.companyReference }}</a>
                </td>
              </tr>
            </tbody>
          </table>

          <ngb-pagination
            (pageChange)="loadPage($event)"
            *ngIf="totalItems > itemsPerPage"
            [(page)]="ngbPaginationPage"
            [boundaryLinks]="true"
            [collectionSize]="totalItems"
            [maxSize]="10"
            [rotate]="true"
            class="float-right"
          >
            <ng-template ngbPaginationFirst>First</ng-template>
            <ng-template nationPrevious ngbPagi>
              <span [class]="'font-weight-bolder'" [data-feather]="'chevron-left'"></span>Prev
            </ng-template>
            <ng-template ngbPaginationNext>
              Next
              <span [class]="'font-weight-bolder'" [data-feather]="'chevron-right'"></span>
            </ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
