<ng-template let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Vertically Centered</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <select name="product" id="product">
      <option [value]="product.reference" *ngFor="let product of products">{{ product.reference }}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Accept click')" rippleEffect>Accept</button>
  </div>
</ng-template>
