<section id="knowledge-base-search">
  <div class="row">
    <div class="col-12">
      <div class="card knowledge-base-bg text-center" style="background-image: url('/content/images/banner/banner.png')">
        <div class="card-body">
          <h2 class="text-primary">Add a title and description</h2>
          <p class="card-text mb-2">
            <span>Add a name and description for the space. Be meaningful as you can!</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <form name="spaceForm" (ngSubmit)="onSubmit()" [formGroup]="spaceForm" novalidate role="form">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="title" class="form-label">Title</label>
        <input
          [ngClass]="{ 'is-invalid': spaceForm.get('title')!.dirty && spaceForm.get('title')!.touched && spaceForm.get('title')!.invalid }"
          type="text"
          id="title"
          name="title"
          formControlName="title"
          class="form-control"
          placeholder="My awesome space"
          required
        />
        <div *ngIf="spaceForm.get('title')!.invalid && (spaceForm.get('title')!.dirty || spaceForm.get('title')!.touched)">
          <small class="form-text text-danger" *ngIf="spaceForm.get('title')?.errors?.required" stlTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          name="description"
          class="form-control"
          placeholder="This space is amazing!"
        />
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button disabled rippleeffect class="btn btn-outline-secondary btn-prev waves-effect">
        <span class="align-middle d-sm-inline-block d-none">Previous</span>
      </button>
      <button
        type="submit"
        [disabled]="spaceForm.invalid"
        rippleeffect
        class="btn btn-primary btn-next waves-effect waves-float waves-light"
      >
        <span class="align-middle d-sm-inline-block d-none">Next</span>
      </button>
    </div>
  </form>
</section>
