<section id="knowledge-base-search">
  <div class="row">
    <div class="col-12">
      <div class="card knowledge-base-bg text-center" style="background-image: url('/content/images/banner/banner.png')">
        <div class="card-body">
          <h2 class="text-primary">Select one of our templates</h2>
          <p class="card-text">
            <span>If you want a customized space for you, <a href="mailto:shopthelook@weareklai.com">contact us</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="knowledge-base-content">
  <div class="row kb-search-content-info match-height">
    <div class="col-md-4 col-sm-6 col-12">
      <div class="card">
        <a>
          <img src="/content/images/illustration/sales.svg" class="card-img-top" alt="knowledge-base-image" />
          <div class="card-body text-center">
            <h4>One Photo</h4>
            <p class="text-body mt-1 mb-0">Lorem ipsum</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
      <div class="card">
        <a>
          <img src="/content/images/illustration/marketing.svg" class="card-img-top" alt="knowledge-base-image" />
          <div class="card-body text-center">
            <h4>One Photo</h4>
            <p class="text-body mt-1 mb-0">Lorem ipsum</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-12">
      <div class="card">
        <a>
          <img src="/content/images/illustration/api.svg" class="card-img-top" alt="knowledge-base-image" />
          <div class="card-body text-center">
            <h4>One Photo</h4>
            <p class="text-body mt-1 mb-0">Lorem ipsum</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
