<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="stl-company-heading" data-cy="CompanyCreateUpdateHeading" stlTranslate="shopTheLookApp.company.home.createOrEditLabel">
        Create or edit a Company
      </h2>

      <div>
        <stl-alert-error></stl-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" stlTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.commercialName" for="field_commercialName"
            >Commercial Name</label
          >
          <input
            type="text"
            class="form-control"
            name="commercialName"
            id="field_commercialName"
            data-cy="commercialName"
            formControlName="commercialName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.nif" for="field_nif">Nif</label>
          <input type="text" class="form-control" name="nif" id="field_nif" data-cy="nif" formControlName="nif" />
          <div *ngIf="editForm.get('nif')!.invalid && (editForm.get('nif')!.dirty || editForm.get('nif')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nif')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.logo" for="field_logo">Logo</label>
          <input type="text" class="form-control" name="logo" id="field_logo" data-cy="logo" formControlName="logo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.vat" for="field_vat">Vat</label>
          <input type="text" class="form-control" name="vat" id="field_vat" data-cy="vat" formControlName="vat" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
          <div *ngIf="editForm.get('url')!.invalid && (editForm.get('url')!.dirty || editForm.get('url')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('url')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.phone" for="field_phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
          <div *ngIf="editForm.get('phone')!.invalid && (editForm.get('phone')!.dirty || editForm.get('phone')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('phone')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'shopTheLookApp.CompanyType.null' | translate }}</option>
            <option value="PRIVATE">{{ 'shopTheLookApp.CompanyType.PRIVATE' | translate }}</option>
            <option value="SELF_EMPLOYEE">{{ 'shopTheLookApp.CompanyType.SELF_EMPLOYEE' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.token" for="field_token">Token</label>
          <input type="text" class="form-control" name="token" id="field_token" data-cy="token" formControlName="token" />
          <div *ngIf="editForm.get('token')!.invalid && (editForm.get('token')!.dirty || editForm.get('token')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('token')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.reference" for="field_reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
          <div *ngIf="editForm.get('reference')!.invalid && (editForm.get('reference')!.dirty || editForm.get('reference')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('reference')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.industry" for="field_industry">Industry</label>
          <select class="form-control" name="industry" formControlName="industry" id="field_industry" data-cy="industry">
            <option [ngValue]="null">{{ 'shopTheLookApp.CompanyIndustry.null' | translate }}</option>
            <option value="AUTOMOTIVE">{{ 'shopTheLookApp.CompanyIndustry.AUTOMOTIVE' | translate }}</option>
            <option value="PHARMACY_COSMETICS">{{ 'shopTheLookApp.CompanyIndustry.PHARMACY_COSMETICS' | translate }}</option>
            <option value="TECHNOLOGICAL_ELECTRONIC">{{ 'shopTheLookApp.CompanyIndustry.TECHNOLOGICAL_ELECTRONIC' | translate }}</option>
            <option value="CLOTHES_ACCESSORIES">{{ 'shopTheLookApp.CompanyIndustry.CLOTHES_ACCESSORIES' | translate }}</option>
            <option value="SPORTS">{{ 'shopTheLookApp.CompanyIndustry.SPORTS' | translate }}</option>
            <option value="CHILDCARE">{{ 'shopTheLookApp.CompanyIndustry.CHILDCARE' | translate }}</option>
            <option value="PETS">{{ 'shopTheLookApp.CompanyIndustry.PETS' | translate }}</option>
            <option value="HOME_GARDEN">{{ 'shopTheLookApp.CompanyIndustry.HOME_GARDEN' | translate }}</option>
            <option value="FOOD_DRINKS">{{ 'shopTheLookApp.CompanyIndustry.FOOD_DRINKS' | translate }}</option>
            <option value="TOYS_HOBBIES">{{ 'shopTheLookApp.CompanyIndustry.TOYS_HOBBIES' | translate }}</option>
            <option value="LEISURE">{{ 'shopTheLookApp.CompanyIndustry.LEISURE' | translate }}</option>
            <option value="CULTURE">{{ 'shopTheLookApp.CompanyIndustry.CULTURE' | translate }}</option>
            <option value="OTHER">{{ 'shopTheLookApp.CompanyIndustry.OTHER' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.companySize" for="field_companySize">Company Size</label>
          <select class="form-control" name="companySize" formControlName="companySize" id="field_companySize" data-cy="companySize">
            <option [ngValue]="null">{{ 'shopTheLookApp.CompanySize.null' | translate }}</option>
            <option value="STARTUP">{{ 'shopTheLookApp.CompanySize.STARTUP' | translate }}</option>
            <option value="SMALL">{{ 'shopTheLookApp.CompanySize.SMALL' | translate }}</option>
            <option value="MEDIUM">{{ 'shopTheLookApp.CompanySize.MEDIUM' | translate }}</option>
            <option value="LARGE">{{ 'shopTheLookApp.CompanySize.LARGE' | translate }}</option>
            <option value="INTERNATIONAL">{{ 'shopTheLookApp.CompanySize.INTERNATIONAL' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.billingAddress" for="field_billingAddress"
            >Billing Address</label
          >
          <select
            class="form-control"
            id="field_billingAddress"
            data-cy="billingAddress"
            name="billingAddress"
            formControlName="billingAddress"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                billingAddressOption.id === editForm.get('billingAddress')!.value?.id
                  ? editForm.get('billingAddress')!.value
                  : billingAddressOption
              "
              *ngFor="let billingAddressOption of billingAddressesCollection; trackBy: trackBillingAddressById"
            >
              {{ billingAddressOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label stlTranslate="shopTheLookApp.company.user" for="field_users">User</label>
          <select class="form-control" id="field_users" data-cy="user" multiple name="users" formControlName="users">
            <option
              [ngValue]="getSelectedUser(userOption, editForm.get('users')!.value)"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['users'])!.invalid && (editForm.get(['users'])!.dirty || editForm.get(['users'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['users'])?.errors?.required" stlTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="shopTheLookApp.company.subscriptionPlan" for="field_subscriptionPlan"
            >Subscription Plan</label
          >
          <select
            class="form-control"
            id="field_subscriptionPlan"
            data-cy="subscriptionPlan"
            name="subscriptionPlan"
            formControlName="subscriptionPlan"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                subscriptionPlanOption.id === editForm.get('subscriptionPlan')!.value?.id
                  ? editForm.get('subscriptionPlan')!.value
                  : subscriptionPlanOption
              "
              *ngFor="let subscriptionPlanOption of subscriptionPlansSharedCollection; trackBy: trackSubscriptionPlanById"
            >
              {{ subscriptionPlanOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span stlTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span stlTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
