<div>
  <h2 id="page-heading" data-cy="CompanyHeading">
    <span stlTranslate="shopTheLookApp.company.home.title">Companies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span stlTranslate="shopTheLookApp.company.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company"
        [routerLink]="['/company/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span stlTranslate="shopTheLookApp.company.home.createLabel"> Create a new Company </span>
      </button>
    </div>
  </h2>

  <a [routerLink]="['/companies', 'reference1']" class="btn btn-primary jh-create-entity create-company" data-cy="entityCreateButton">
    Overview
  </a>

  <stl-alert-error></stl-alert-error>

  <stl-alert></stl-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="companies?.length === 0">
    <span stlTranslate="shopTheLookApp.company.home.notFound">No companies found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="companies && companies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.reference">ID</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.name">Name</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.commercialName">Commercial Name</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.nif">Nif</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.logo">Logo</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.vat">Vat</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.url">Url</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.phone">Phone</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.email">Email</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.type">Type</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.token">Token</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.industry">Industry</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.companySize">Company Size</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.user">User</span></th>
          <th scope="col"><span stlTranslate="shopTheLookApp.company.subscriptionPlan">Subscription Plan</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/company', company.reference]">{{ company.reference }}</a>
          </td>
          <td>
            <a [routerLink]="['/company', company.reference]">{{ company.name }}</a>
          </td>
          <td>{{ company.commercialName }}</td>
          <td>{{ company.nif }}</td>
          <td>{{ company.logo }}</td>
          <td>{{ company.vat }}</td>
          <td>{{ company.url }}</td>
          <td>{{ company.phone }}</td>
          <td>{{ company.email }}</td>
          <td stlTranslate="{{ 'shopTheLookApp.CompanyType.' + company.type }}">{{ company.type }}</td>
          <td>{{ company.token }}</td>
          <td stlTranslate="{{ 'shopTheLookApp.CompanyIndustry.' + company.industry }}">{{ company.industry }}</td>
          <td stlTranslate="{{ 'shopTheLookApp.CompanySize.' + company.companySize }}">{{ company.companySize }}</td>
          <td>
            <span *ngFor="let user of company.users; let last = last"> {{ user.login }}{{ last ? '' : ', ' }} </span>
          </td>
          <td>
            <div *ngIf="company.subscriptionPlan">
              <a [routerLink]="['/subscription-plan', company.subscriptionPlan?.id, 'view']">{{ company.subscriptionPlan?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/company', company.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/company', company.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(company)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" stlTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
