<div class="card">
  <div class="card-header d-flex flex-sm-row flex-column justify-content-md-between align-items-start justify-content-start">
    <div>
      <h4 class="card-title">Product hovers</h4>
      <span class="card-subtitle text-muted">All product hovers</span>
    </div>
    <div class="d-flex align-items-center">
      <i class="font-medium-2" data-feather="calendar"></i>
      <ng2-flatpickr [config]="dateRangeOptions"></ng2-flatpickr>
    </div>
  </div>
  <div class="card-body">
    <apx-chart
      #chartElement
      [series]="series"
      [chart]="chart"
      [dataLabels]="dataLabels"
      [plotOptions]="plotOptions"
      [fill]="fill"
      [noData]="noData"
    ></apx-chart>
  </div>
</div>
