<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="stl-subscription-plan-heading"
        data-cy="SubscriptionPlanCreateUpdateHeading"
        stlTranslate="stlApp.subscriptionPlan.home.createOrEditLabel"
      >
        Create or edit a Subscription Plan
      </h2>

      <div>
        <stl-alert-error></stl-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" stlTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.subscriptionPlan.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" stlTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.subscriptionPlan.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.subscriptionPlan.category" for="field_category">Category</label>
          <select class="form-control" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null">{{ 'stlApp.SubscriptionCategory.null' | translate }}</option>
            <option value="BRONZE">{{ 'stlApp.SubscriptionCategory.BRONZE' | translate }}</option>
            <option value="SILVER">{{ 'stlApp.SubscriptionCategory.SILVER' | translate }}</option>
            <option value="GOLD">{{ 'stlApp.SubscriptionCategory.GOLD' | translate }}</option>
            <option value="PLATINUM">{{ 'stlApp.SubscriptionCategory.PLATINUM' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('category')!.invalid && (editForm.get('category')!.dirty || editForm.get('category')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('category')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.subscriptionPlan.maxProducts" for="field_maxProducts">Max Products</label>
          <input
            type="number"
            class="form-control"
            name="maxProducts"
            id="field_maxProducts"
            data-cy="maxProducts"
            formControlName="maxProducts"
          />
          <div *ngIf="editForm.get('maxProducts')!.invalid && (editForm.get('maxProducts')!.dirty || editForm.get('maxProducts')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxProducts')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maxProducts')?.errors?.number"
              stlTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.subscriptionPlan.maxSpaces" for="field_maxSpaces">Max Spaces</label>
          <input type="number" class="form-control" name="maxSpaces" id="field_maxSpaces" data-cy="maxSpaces" formControlName="maxSpaces" />
          <div *ngIf="editForm.get('maxSpaces')!.invalid && (editForm.get('maxSpaces')!.dirty || editForm.get('maxSpaces')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxSpaces')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maxSpaces')?.errors?.number"
              stlTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" stlTranslate="stlApp.subscriptionPlan.maxRequests" for="field_maxRequests">Max Requests</label>
          <input
            type="number"
            class="form-control"
            name="maxRequests"
            id="field_maxRequests"
            data-cy="maxRequests"
            formControlName="maxRequests"
          />
          <div *ngIf="editForm.get('maxRequests')!.invalid && (editForm.get('maxRequests')!.dirty || editForm.get('maxRequests')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('maxRequests')?.errors?.required"
              stlTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('maxRequests')?.errors?.number"
              stlTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span stlTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span stlTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
