<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="company">
      <h2 data-cy="companyDetailsHeading"><span stlTranslate="shopTheLookApp.company.detail.title">Company</span></h2>

      <hr />

      <stl-alert-error></stl-alert-error>

      <stl-alert></stl-alert>

      <dl class="row-md jh-entity-details">
        <dt><span stlTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ company.id }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.name">Name</span></dt>
        <dd>
          <span>{{ company.name }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.commercialName">Commercial Name</span></dt>
        <dd>
          <span>{{ company.commercialName }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.nif">Nif</span></dt>
        <dd>
          <span>{{ company.nif }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.logo">Logo</span></dt>
        <dd>
          <span>{{ company.logo }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.vat">Vat</span></dt>
        <dd>
          <span>{{ company.vat }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.url">Url</span></dt>
        <dd>
          <span>{{ company.url }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.phone">Phone</span></dt>
        <dd>
          <span>{{ company.phone }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.email">Email</span></dt>
        <dd>
          <span>{{ company.email }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.type">Type</span></dt>
        <dd>
          <span stlTranslate="{{ 'shopTheLookApp.CompanyType.' + company.type }}">{{ company.type }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.token">Token</span></dt>
        <dd>
          <span>{{ company.token }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.reference">Reference</span></dt>
        <dd>
          <span>{{ company.reference }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.industry">Industry</span></dt>
        <dd>
          <span stlTranslate="{{ 'shopTheLookApp.CompanyIndustry.' + company.industry }}">{{ company.industry }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.companySize">Company Size</span></dt>
        <dd>
          <span stlTranslate="{{ 'shopTheLookApp.CompanySize.' + company.companySize }}">{{ company.companySize }}</span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.billingAddress">Billing Address</span></dt>
        <dd>
          <div *ngIf="company.billingAddress">
            <a [routerLink]="['/billing-address', company.billingAddress?.id, 'view']">{{ company.billingAddress?.id }}</a>
          </div>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.user">User</span></dt>
        <dd>
          <span *ngFor="let user of company.users; let last = last"> {{ user.login }}{{ last ? '' : ', ' }} </span>
        </dd>
        <dt><span stlTranslate="shopTheLookApp.company.subscriptionPlan">Subscription Plan</span></dt>
        <dd>
          <div *ngIf="company.subscriptionPlan">
            <a [routerLink]="['/subscription-plan', company.subscriptionPlan?.id, 'view']">{{ company.subscriptionPlan?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span stlTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/company', company.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span stlTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
